name: Publish package

on:
  release:
    types: [created]

jobs:

  build:
    runs-on: ubuntu-latest

    strategy:
        fail-fast: false
        matrix:
            # the Node.js versions to build on
            node-version: [18.x, 20.x]

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }} 
        uses: actions/setup-node@v3
        with:
            node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm ci
 #     - run: npm test

  publish-gpr:
    needs: build
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
            node-version: 20
            registry-url: https://registry.npmjs.org

      - name: Install dependencies
        run: npm ci

      - name: Publish to registry 
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
